In [0]:
# Importing the pandas library
import pandas as pd

In [2]:
# Loading our first data set, CDR_Description
df1 = pd.read_excel (r"/content/CDR_description.xlsx")
df1.head(5)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String

In [107]:
# Loading our second data set, Cell_geo while delimitting the semicolon
df2 = pd.read_csv(r'/content/cells_geo.csv',delimiter = ';')
df2.head(10)
df2.columns = ["VALUE",'CITY' ,'STATUS' ,'LOCALISATION ','GEO_ZONE' ,'ZONE_NAME' ,"LONGITUDE", "LATITUDE", "REGION","AREA", "CELL_ID", "SITE_CODE"]
df2
# Number of cities in Ivory coast
list(df2['CITY'].unique())

['ADJAME',
 'ASSINIE',
 'KRIKOREA',
 'ABOBO',
 'BINGERVILLE',
 'PLATEAU',
 'DALOA',
 'ABENGOUROU',
 'ATTECOUBE',
 'ABOISSO COMOE',
 'ABOISSO',
 'BONGOUANOU',
 'ABONGOUA',
 'ABOUDEKOUASSIKRO',
 'ABRONAMOUE',
 'YOPOUGON',
 'ADAOU',
 'ADDAH',
 'ADEBEM',
 'ADIAKE',
 'ADJAMENE',
 'PORT-BOUET',
 'ADZOPE',
 'AFFERY',
 'COCODY',
 'AGBOVILLE',
 'AGNIBILEKRO',
 'AGONDA',
 'AGOU',
 'MARCORY',
 'AHIZABRO',
 'AHOUANOU',
 'BOUAKE',
 'AKOBOISSUE',
 'AKOUPE',
 'AKOUYAKRO',
 'AKRADJO',
 'KOUMASSI',
 'ALEPE',
 'ALERIA',
 'BAMORO',
 'ALLOKOI',
 'ANANDA',
 'ANDO',
 'ANDOKOKRENOU',
 'ANIANSUE',
 'ANOUMABA',
 'ANYAMA',
 'AOUNIANFOUTOU',
 'APPOISSO',
 'ARRAH',
 'ASSIKOI',
 'ASSUEFRY',
 'ATTIGUEHI',
 'ATTINGUIE',
 'ATTROBROU',
 'AYAME',
 'AYAPRIKRO',
 'AZAGUIE',
 'BACANDA',
 'BADIKAHA',
 'BAGOHOUO',
 'BAHOMPA',
 'BACOUBLY',
 'BALEKO',
 'SAN-PEDRO',
 'BANADJE',
 'BANANKORO',
 'BANDAKANY',
 'BANDIAHI',
 'BANGOLO',
 'BANIA',
 'BANTEAPLEU',
 'BAOUBLI',
 'YAMOUSSOUKRO',
 'GRAND-BASSAM',
 'BAYOTA',
 'BAZRA NATTIS',
 'BECEDIBRIGNAN',
 'BEDIALA',
 'BEKOUEFIN',
 'BENGASSOU',
 'BEOUE',
 'BEOUMI',
 'BETTIE',
 'BIANKOUMA',
 'BIANOUAN',
 'BIELOU-CARREFOUR',
 'BILIMONO',
 'BINAO',
 'BIN HOUNIEN',
 'BLAHOU',
 'BLANFLA',
 'DIANOUFLA',
 'BLE',
 'BLESSEGUE',
 'BLOLEQUIN',
 'BOCANDA',
 'BODO',
 'BODOKRO',
 'BOGUEDIA',
 'BOLI',
 'BONAHOUIN',
 'BONDOUKOU',
 'BONGO',
 'BONGUERA',
 'BONIEREDOUGOU',
 'BONIKRO',
 'BONON',
 'BONOUA',
 'BONOUFLA',
 'BOOKO',
 'BORON',
 'BOROTOU',
 'BOROTOUKRO',
 'BOTRO',
 'BOUADIKRO',
 'BOUAFLE',
 'BOUADOUGOU',
 'BOUAPE',
 'BOUGOU',
 'BOUNA',
 'BOUNAFLA',
 'BOUNDIALI',
 'BOZI',
 'BROBO',
 'BROFFOUEDOU',
 'BROFODOUME',
 'BROU AKPASSOU',
 'BUYO',
 'CECHI',
 'CHIEPO',
 'TREICHVILLE',
 'COLLINEKASSEREGUE',
 'KETEKRE',
 'DABADOUGOU',
 'DABAKALA',
 'DABOU',
 'DABOUYO',
 'DAGADJI',
 'DAGOUAHIO',
 'DAHIRI',
 'DAIRO/DIDIZO',
 'DAKPADOU',
 'DAME',
 'DANANE',
 'DANANON',
 'DANGUIRA',
 'DANIA',
 'DAOUKRO',
 'DASSIOKO',
 'DIABO',
 'DIAMARAKRO',
 'DIANGOKRO',
 'DIANRA',
 'DIANRAVILLAGE',
 'DIARABANA',
 'DIARAKRO',
 'DIAWALA',
 'DIDIEVI',
 'DIDOKO',
 'DIEGONEFLA',
 'DIEOUZON',
 'DIGNAGO',
 'DIKODOUGOU',
 'DIMBOKRO',
 'DIOULATIEDOUGOU',
 'DIVO',
 'DIVO PALMCI',
 'DJASSANOU',
 'DJEBONOUA',
 'DJEMISSIKRO',
 'DJENIDOUFLA',
 'DJIBROSSO',
 'DJI',
 'DJOUKOUYO',
 'DOKE',
 'DOROPO',
 'DOTENZIA',
 'DOUFREBO',
 'DOUGOUDOU SODEMI',
 'DOUGROUPALEGNOA',
 'DUEKOUE',
 'EBIKRO',
 'EHANIA',
 'ELLIBOU',
 'HIRE',
 'ETTROKRO',
 'ETUEBOUE',
 'FACOBLY',
 'FADYADOUGOU',
 'FEREDOUGOU',
 'FERKE',
 'FLAKIE',
 'FOUMBOLO',
 'FOUNGBESSO',
 'FRESCO',
 'FRONAN',
 'GABIADJI',
 'GADOUAN',
 'GAGNOA',
 'GAZIBOUO',
 'GBAGBAM',
 'GBAPLEU',
 'GRAND BEREBY',
 'GBELEBAN',
 'GBETEGUELA',
 'GBONNE',
 'GRAND LAHOU',
 'GLIGBEUADJI',
 'GNABOYA',
 'GNAGBODOUGNOA',
 'GNAMONO',
 'GNIPI',
 'GOHITAFLA',
 'GOMENEBERI',
 'GONATE',
 'GOULIA',
 'GRAND-ZATRY',
 'GROBIASSOUME',
 'GUEHIEBLY',
 'GUESSABO',
 'GUESSIGUIE',
 'GUEYO',
 'GUEZON',
 'GUEZON TAHOUAKE',
 'GUIBEROUA',
 'GUIEMBE',
 'GUIGLO',
 'GUINKIN',
 'GUINTEGUELA',
 'GUITRY',
 'HEREMANKONO',
 'HERMANKONONO/DIES',
 'IBOGUHE',
 'IDEFOR',
 'ILESBOULEY',
 'IROBO',
 'ISSIA',
 'ITTY',
 'JACQUEVILLE',
 'KAHANSO',
 'KAKOHORO',
 'KALAKALA',
 'KAMELE',
 'KAMORO',
 'KANAKONO',
 'KANI',
 'KANOROBA',
 'KANZRA',
 'KASSERE',
 'KATIOLA',
 'KEIBLA',
 'KETESSO',
 'KETRO BASSAM',
 'KIMBIRILA NORD',
 'KIMBIRILA SUD',
 'KLOTOU',
 'KOBEDAIGOURE',
 'KODIOSSOU',
 'KODJINAN',
 'KOFFI AMONKRO',
 'KOKOUMBO',
 'KOLIA',
 'KOMBORODOUGOU',
 'KONAHIRI',
 'KONEDOUGOU',
 'KONG',
 'KONGASSO',
 'KONI',
 'KONONFLA',
 'KONTROU',
 'KOONAN',
 'KOREA',
 'KORHOGO',
 'KORO',
 'KOSSANDJI',
 'KOSSOU',
 'KOTABLEA',
 'KOTOUBA',
 'KOTOULA',
 'KOUASSIDATEKRO',
 'KOUASSIKOUASSIKRO',
 'KOUEGO',
 'KOUIBLY',
 'KOUN-FAO',
 'KOUNTIGUISSO',
 'KOUTO',
 'KOYOKRO',
 'KPAPEKOU',
 'KPOUEBO',
 'KRINJABO',
 'KRIZABAHIO',
 'LAFOKPOKAHA',
 'DEDI',
 'LAHOUDIBA',
 'LAKOTA',
 'LAMADOUGOU',
 'LAOGUIE',
 'LARABIA',
 'LATAHA',
 'LUEHOUAN',
 'LOGBOVILLE',
 'LOGOUALE',
 'LOUGBONON',
 'LOVIGUE',
 'LUENOUFLA',
 'MADINANI',
 'MAFERE',
 'MAHAPLEU',
 'MAMA',
 'MAN',
 'MANKONO',
 'MANZANOUAN',
 'MARABADIASSA',
 'MARANDALA',
 'MASSALA',
 'MAYO',
 "M'BAHIAKRO",
 'MBATTO',
 'MBENGUE',
 'MBONOUA',
 'MBORLA',
 'MBROU',
 'MEADJI',
 'MEMNI',
 'MINIGNAN',
 'MINORE',
 'MOAPE',
 'MONTCOUPE',
 'MORONDO',
 'MORONOU',
 'MOUSSADOUGOU',
 'NAFALA',
 'NAMASSI',
 'NAMBENGUE',
 'KARAKORO',
 'NANIEFONGO',
 'NAPIE',
 'NASSIAN',
 'KOUASSIA-NIAGUNI',
 "N'DEBO",
 "N'DOUCI",
 'NDOUKAHAKRO',
 'NEKA',
 'NGATTADOLIKRO',
 "N'GATTAKRO",
 'NGUINOU',
 'NIABABLY',
 'NIABLE',
 'NIAKARA',
 'TOUIH',
 'NIAMANA',
 'NIAMBEZARIA',
 'NIANDA',
 'NIANGBO',
 'NIDROU',
 'NIOFOIN',
 'NOE',
 'NOUAMOU',
 'NOUKPOUDOU',
 'NOUVELLEOUSROU',
 "N'ZECREZESSOU",
 'NZIANOUA',
 "N'ZIKRO",
 'ODIENNE',
 'OGHLAPO',
 'OKROUYO',
 'ORESS KROBOU',
 'OTTAWA',
 'OUALEBO',
 'OUANGOLO',
 'OUANINOU',
 'OUATTARADOUGOU',
 'OUELLE',
 'OUME',
 'OUNADIEKAHA',
 'OUPOYO',
 'OURAGAHIO',
 'PAKAOUBO',
 'BLIDOUBA',
 'IBOKE',
 'PARA',
 'PEHE',
 'PELEZI',
 'PETIONARA',
 'PETIT YAPO',
 'PINHOU',
 'PINHOU KOULOUAN',
 'PODIAGOUINE',
 'POGO',
 'PONANGUIGLO',
 'PRIKRO',
 'POPREAGUI',
 'SIPILOU',
 'RAPIDES GRAH',
 'RAVIART',
 'RUBINO',
 'SAFCO',
 'SAGO',
 'SAHUE',
 'SAIOUA',
 'SAKAHOUO',
 'SAKASSOU',
 'SAMANGO',
 'SAMATIGUILA',
 'SAMO',
 'SANANFEREDOUGOU',
 'SANDEGUE',
 'SANGOUINE',
 'SANKADIOKRO',
 'SAPLI',
 'SARAKADJI',
 'SARHALA',
 'SASSANDRA',
 'SATIKRAN',
 'SEGUELA',
 'SEGUELON',
 'SEMIEN',
 'SERHIO',
 'SEYDOUGOU',
 'GOUMERE',
 'SIANA',
 'SIEMPURGO',
 'SIENSOBA',
 'SIFIE',
 'SIKENSI',
 'SINEMATIALI',
 'SINFRA',
 'SINGROBO',
 'SIRASSO',
 'MOUSSAYO',
 'SOKORODOUGOU',
 'SOMINANSE',
 'SONDO',
 'SONGON',
 'SONGON DAGBE',
 'SONONZO',
 'SOROBANGO',
 'SOUBRE',
 'BALEYO',
 'ZUENOULA',
 'TAABO',
 'TABAGNE',
 'TABOU',
 'TAFIRE',
 'TAHIRAGUHE',
 'TAHOGORA',
 'TAI',
 'TALA',
 'TANDI',
 'TANDA',
 'TANGUELAN',
 'TANKESSE',
 'TAOUDI',
 'TINDENE BAMBARASSO',
 'TENGRELA',
 'TIAPOUM',
 'TIASSALE',
 'TIEBISSOU',
 'TIEMA',
 'TIEMELEKRO',
 'TIEME',
 'TIENDEKRO',
 'TIENKO',
 'TIMBE',
 'TIOBLY',
 'TOROGUHE',
 'TORO-KINKENE',
 'TORTYA',
 'TOUBA',
 'TOUKOUZOU',
 'TOULEUPLEU',
 'TOUMODI',
 'DJEKANOU',
 'TOUMODISAKASSOU',
 'TOUPAH',
 'TOUVRE',
 'TRANSUA',
 'VAVOUA',
 'VROUHO',
 'WENDENE',
 'WOROFLA',
 'YABAYO',
 'YAKASSE-ATTOBROU',
 'YAKASSEFEYASSE',
 'YAKASSEME',
 'YAOKRO',
 'YAOSEDOUGOU',
 'YAOU',
 'YOROBODI',
 'YOUWASSO',
 'ZAALA',
 'ZADDI',
 'ZAGNE',
 'ZAIBO',
 'ZALIOHOUAN',
 'ZAMBAKRO',
 'ZARANOU',
 'ZAROKO',
 'ZATTA',
 'ZIKISSO',
 'ZON-HOUNIEN',
 'ZOUKOUGBEU']

In [6]:
# Loading our third data set, cells_geo_description
df3 = pd.read_excel (r"/content/cells_geo_description.xlsx")
df3

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [7]:
display(df1,df2)

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

      VALUE      CITY      STATUS  ...          AREA     CELL_ID   SITE_CODE
0         0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1         1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2         2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3         3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4         4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...     ...       ...         ...  ...           ...         ...         ...
3969   3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970   3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971   3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972   3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973   3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [61]:
# Loading telecom dataset one
df4 = pd.read_csv('/content/Telcom_dataset.csv')
df4
# Changing column productc to product
df4.columns = ['PRODUCT' ,'VALUE' ,'DATETIME ',' CELL_ON _SITE ' ,'DW_A_NUMBER_INT ' ,' DW_B_NUMBER_INT', "COUNTRY_A", "COUNTRY_B", "CELL_ID", "SITE_CODE"]
df4
# Dropping null values
df4.dropna(how  = "all" )
df4
# Finding the most used data on day two
df_ = pd.value_counts(df4['PRODUCT'])
df_.head(3)

df4["VALUE"]. sum()

129374

In [31]:
# Loading telecom dataset two
df5 = pd.read_csv('/content/Telcom_dataset2.csv')
df5
# changing columns for telcom dataset
df5.columns = ['PRODUCT' ,'VALUE' ,'DATETIME ',' CELL_ON _SITE ' ,'DW_A_NUMBER_INT ' ,' DW_B_NUMBER_INT', "COUNTRY_A", "COUNTRY_B", "CELL_ID", "SITE_CODE"]
df5.head(5)
df5.dropna(how  = "all" )
df5
# Finding the most used data on day two
df_ = pd.value_counts(df5['PRODUCT'])
df_.head(3)

sms      2329
Voice    1906
data      766
Name: PRODUCT, dtype: int64

In [66]:
# Loading telecom dataset three
df6 = pd.read_csv('/content/Telcom_dataset3.csv')
df6
df6.columns = ['PRODUCT' ,'VALUE' ,'DATETIME ',' CELL_ON _SITE ' ,'DW_A_NUMBER_INT ' ,' DW_B_NUMBER_INT', "COUNTRY_A", "COUNTRY_B", "CELL_ID", "SITE_CODE"]
df6.head(5)
# Removing null values
df6.dropna(how  = "all" )
df6
# Finding the most used produt on day three
df_ = pd.value_counts(df6['PRODUCT'])
df_.head(3)

sms      2767
Voice    1541
data      693
Name: PRODUCT, dtype: int64

In [103]:
# Merging the telcom datasets
df_all = pd.concat((df4, df5, df6), axis=0, ignore_index=True)
df_all.head(10)

# merging the telecom dataset with cells_geo
df_merge1 = pd.merge(df_all, df2, on='SITE_CODE', how = 'left')
df_merge1
df = df_merge1
df
# Finding the most used product in the three days
df_product = pd.value_counts(df['PRODUCT'])
df_product.head(3)
# Finding the top 10 cities with the highest frequency of calls and sms
df1_ = pd.value_counts(df['CITY'])
df1_.head(30)
# Finding the most used product in MTN
df['PRODUCT'].max()
# Finding the region with the highest frequency
df_2= pd.value_counts(df['REGION'])
df_2.head(3)

LAGUNE           33684
LACS              2484
BAS SASSANDRA     2395
Name: REGION, dtype: int64

In [115]:
#  Spliting date and time
df["DATE"] = df['DATETIME'].apply(lambda x: pd.Series([i for i in reversed(x.lower().split(" "))]))
# df[['DATE','TIME']] = df.DATETIME.str.split(" ",expand=True,)
df
df.drop(["DATE"], axis = 1)
df["DATE"] = df["DATETIME"].str.split(" ", n=1, expand = True)
df
# drop the datetime column
# df_3 = df.drop(columns=["DATETIME"])
# df_3

KeyError: ignored